.jumbotron-custom {
    background-color: white;
    height: 600px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px 0;
}

.jumbotron-title {
    font-size: 5rem;
    display: block;
    text-align: left;
    padding-top: 50px;
}
@media only screen and (max-width: 768px) {
    .jumbotron-title {
        font-size:3rem
    }
}

/* jumbotron second row */
.jumbotron-second-row {
    align-items: center;
    margin: 0 auto;
}

.jumbotron-intro {
    text-align: left;
    max-width: 550px;
    font-size: 16px;
}

.jumbotron-list {
    list-style-type: none;
    text-align: left;
    text-decoration: underline;
}

.jumbotron-list li {
    margin-bottom: 5px;
    font-size: 16px;
}