#border {
    background-color: #f7f9fc;
    height: 100vh;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.border-container {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.white-bg{
    background-color: white;
    height: 100%;
}

.border-title {
    font-weight: bold;
}

