#border {
 height: 800px;
}
.border-container {
    box-shadow: 0 0 0 13px white;
    border-radius: 10px;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}
